.titlehead{
    text-align: center;
    font-size: larger;
    border-bottom: solid black 1px ;
    margin-top: 20px; 
}


.slide {
    margin: 20px;
}
.slide h1{
    margin: 30px 0px;
}
.slide .img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.slide .img img {
    width: 600px;
    margin-bottom: 30px;
    border: solid ;
    
}
/**********************/
@media (max-width: 800px) {
    .slide h1{
        font-size: 20px;
    }
    .slide .img img{
        width: 300px;
    }
    
}





/**********************/


.download{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.download a{
    display: block;
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
    padding: 10px;
    border: solid black;
    border-radius: 10px;
    margin: 10px;
    transition: 0.2s;
    
}
.download a:hover{
    background-color: red;
}

@media (max-width: 800px){
    .download a{
        font-size: 20px;
        padding: 5px;
    }
}