.line1 h1{
    text-align: center;
    text-transform: capitalize;
    margin: 10px;
    font-weight: bolder;
    font-size: 50px;
}
.line1 h2{
    text-align: center;
    border-bottom: 5px solid ;
    padding-bottom: 5px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.container img{
    display: block;
    width: 700px;
    height: 500px;
    margin: 30px;
}
@media (max-width: 800px) {
    .line1 h1{
        font-size: 25px;
    }
    .container img{
        width: 300px;
        height: 300px;
    }
}

