*{
    padding: 0px;
    margin: 0px;
    color: black;

}
a{
    text-decoration: none;
    display: block;
}

header{
    background-color:lavender;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    
}
header .logo img{
    width: 50px;
    height: 25px;
}
header .logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo p {
    font-size: large;
    font-weight:900;
    cursor: pointer;
}
header .guid a {
    background-color: red;
    width: 100px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    font-weight: bolder;
    font-size: larger;
    letter-spacing: 5px;
    color: white;
    transition: 0.5s;
}
header .guid a:hover{
    transform: translateX(-5px);
}
/************************************/